@{
    ViewData["Title"] = "Kyle Rohan";
    ViewData["Banner"] = "About Me";
}
<partial name="_Banner" />
<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <h1 class="text-center class=" display-4"">@ViewData["Title"]</h1>
            <h3 class="text-center fs-3">System Engineer
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">Over my 3 year Bachelors degree for Information Technology I have been working closely with the IT department for Southern Institute of Technology 
                    (SIT), This gave me the real life expereince of the my selected career as a Software Engineer, During this time I have learned procedures, installed and configure Aruba 
                    Switches, as well navigating their ticket system MOJO. </p>
                    <p><img src="/pic/about.jpg" class="img-fluid" /></p>
            </div>

        </div>

    </div>
</div>

